/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.nav_gauche{

    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 100px;

}
.logoRecherche{

    font-size: 22px;
}
.btnRegister{
    color: white;
    padding: 7px;
    width: 100px;
   background-color: #459bf1;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
}
.header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #f9fdb4;

}
.logo{

    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.brandLogo{

    display: flex;
    align-items: center;
    margin-left: 80px;
}
.listeNav{

    list-style-type: none;
    display: flex;
    gap: 15px;

    li{

        font-family: 'Arial Rounded MT Bold', sans-serif;
    }


}

body {

}

.contain{
    background-color: #F0D1BF;
}

.float-container {
  margin-top: 50px;
    padding: 50px;
    background-color: #F5F5F5;


}

.float-child {
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;

}
.progress{
    width:70%;
    background-color: #F0D1BF;
}

.img-child{
    display: flex;
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;


}
.img-container{
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.float-container-section {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.float-child-section {
    width: 75%;
    height: 600px;
    float: left;
    padding: 20px;
    background-color: #F0D1BF;
}
